 *{
    text-align: center;
       /* padding: 15px;
    margin: 20px; */
}
/*body{
    justify-content:center;
    align-items:center;
    text-align: center;
} */
h1 {
    text-align: center;
}
a{
    text-align: center;
}

td,
th {
    border: 5px solid rgb(0, 0, 0);
}
/* 
#div1 {
    border: 10px solid blue;
    width: 500px;
    /* height: 300px; */
    /* padding: 16px;
    margin: 0 auto;
    text-align: center;

} */

/*#div2 {
    text-align: center;
    width: 100%;
    height: 600px;
    padding: 20px;
} */

table {
 border: 5px solid rgb(53, 50, 50);
    /* margin: 10px;*/
    width: 800px;
    height: 400px; 
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

.color {
    background-color: rgb(153, 224, 224);
}
 a{
    text-align: center;
 }
  /* td{
    background-color: rgb(133, 233, 200);
  } */
  /* th{
    background-color: rgb(133, 233, 200);
  } */
  
